:root {
    /* Fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway";
    /* Text colors */
    --main-txt-cl: #212121;
    /* Background colors */
    --main-bg-cl: #2F303A;
}
.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.body{
    color: var(--main-txt-cl);
    font-family: "Roboto";
}
/* reset */
h1,h2,h3,h4,h5,h6,P{
    margin: 0;
}
img{
    display: block;
}

.link{
    text-decoration: none;
    color: currentColor;
}
.header-container{
    display: flex;
}
/* Navigation to other pages */
.logo{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl) 
}
.logo-color{
    color: #2196F3; 
}
.nav-list-item-studio{
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--main-txt-cl)
}
.nav-list-item-studio:hover{
    color: #2196F3;
}
.nav-list-item{
    list-style: none;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color:var(--main-txt-cl);
}
.mail{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
}
.mail:hover{
    color: #2196F3;
}
.telephone{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
}
/* Section 1 */
.first-section{
    background: #2F303A;
}
.main-heading{
    font-size: 44px;
    line-height: calc(60 / 44);
    font-style: normal;
    color: #FFFFFF;
}
.main-heading, .heading-pecularities{
    text-transform: uppercase;
}
.main-heading, .heading-2{
    text-align: center;
}
.main-btn{
    font-family: inherit;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    border-radius: 4px;
}
/* Section 2 */
.second-section{
    display: flex;
    flex-direction: row;
}
.heading-pecularities{
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 10px;
    margin-right: 30px;
}
.text-pecularities{
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 94px;
    margin-right: 30px;
}
/* Section 3 */
.heading-2{
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    margin-bottom: 50px;
    text-align: center;
}
.occupation-photos{
    margin-right: 30px;
    margin-bottom: 94px;
}
/* Section 4 */
.staff{
    background: #F5F4FA;
    display: flex;
}
.staff-names{
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}
.positions{
    line-height: calc(19/16);
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
    margin-bottom: 30px;
}
.team-photos{
    margin-right: 30px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* footer */
.logo-footer{
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.footer{
    background: #2F303A;
}
.adress-footer{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.mail-footer{
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;   
    color: rgba(255, 255, 255, 0.6);
}
.telephone-footer{
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: calc(14/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* Portfolio */
.btns{
    display: flex;
    flex-direction: row;
}
.portfolio-btn-main{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    color: #FFFFFF;
}
.portfolio-btns{
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--main-txt-cl);
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.portfolio-item{
    width: 370px;
}
.projects-heading{
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--main-txt-cl);
}
.projects-name{
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
}